@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto_regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/roboto_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_regular.woff2") format("woff2"), url("../fonts/roboto_regular.woff") format("woff"), url("../fonts/roboto_regular.ttf") format("truetype"), url("../fonts/roboto_regular.svg#roboto_regular") format("svg");
  /* Chrome < 4, Legacy iOS */ }

body {
  margin: 0;
  padding: 0; }

.header {
  width: 100%; }

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto; }

.header__left {
  display: flex; }

.header__left_img {
  margin-left: 30px;
  margin-right: 20px; }

.header__left_title {
  max-width: 153px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #641A20; }

.header__left__hr {
  width: 100%;
  size: 10px;
  background-color: #641A20;
  align-items: center;
  height: 8px;
  margin-top: -5px; }

.header__right {
  margin-right: 65px; }

.header__right_links {
  list-style: none;
  display: flex; }

.header__right_links li {
  margin-right: 10px; }

.header__right_links li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #545454;
  text-decoration: none;
  position: relative; }

.header__right_links li a:after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -5px;
  transition: .4s;
  height: 2px;
  background-color: #641A20; }

.header__right_links li a:hover:after {
  width: 65%;
  transition: .4s; }

.header_photo {
  width: 100%;
  height: 650px; }

.header_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%; }

.header__hr {
  width: 100%;
  size: 10px;
  background-color: #641A20;
  align-items: center;
  height: 8px;
  margin-top: -5px; }
